@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');

html, body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    margin: 0;
    min-height: 800px;
}

h1 {
    font-weight: 500;
    color: #1B404C;
}

h2 {
    font-weight: 900;
    font-size: 130px;
}

h3 {
    font-weight: 400;
    font-size: 90px;
}

hr {
  width: 50px;
  border: 2px solid #1B404C;
  float: left;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  margin: 175px 75px 0px 75px
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
  top: 0;
  z-index: 10;
}

.loader img {
  width: 100px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.title {
  position: relative;
  overflow: hidden;
}

.title * {
  margin: 3px auto;
}

.questionNumber {
    width: auto;
    float: right;
    position: absolute;
    right: 20px;
}

.questionNumber * {
    margin: 0 auto;
}

.questionNumber h2 {
    float: left;
}

.questionNumber h3 {
    float: right;
    position: relative;
    right: 25px;
    top: 50px;
    text-shadow: -7px 0 #F5F5F5, 0 7px #F5F5F5, 7px 0 #F5F5F5, 0 -7px #F5F5F5;
}

.action {
  margin-top: 150px;
}

.action button {
  float: right;
  background-color: #1B404C;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 16px;
  cursor:pointer;
  outline: none;
  transition: 0.5s;
}

.action button:after {
  content: '→';
  position: absolute;
  right: 80px;
  opacity: 0;
  transition: 0.5s;
}

.action button:hover {
  padding-right: 50px;
}

.action button:hover:after{
  opacity: 1;
  right: 100px;
}

.footer {
  position: absolute;
  bottom: 20px;
  left: 90px;
}

.title_transistion {
  position: absolute;
}

.title_transistion:first-of-type {
  top: 0px;
  animation: TitleChange_before 0.25s linear 0s forwards alternate;
}

.title_transistion:last-of-type {
  top: 35px;
  animation: TitleChange_after 0.25s linear 0s forwards alternate;
}

.hidden {
  opacity: 0;
}

@keyframes TitleChange_before {
  from {
    top: 0;
  }
  to {
    top: -50px;
  }
}

@keyframes TitleChange_after {
  from {
    top: 50px;
  }
  to {
    top: 3px;
  }
}

.transistion_before {
  animation: transistion_main_before 0.5s linear 0s forwards alternate;
  white-space: nowrap;
}

.transistion_after {
  animation: transistion_main_after 0.5s linear 0s forwards alternate;
  white-space: nowrap;
}

.values {
  position: relative;
  min-height: 150px;
  overflow: hidden;
  width: 100%;
}

@keyframes transistion_main_before {
  from {
    position: absolute;
    left: 0;
  }
  to {
    position: absolute;
    left: -100%;
  }
}

@keyframes transistion_main_after {
  from {
    position: absolute;
    left: 100%;
  }
  to {
    position: absolute;
    left: 0%;
  }
}

.radios {
  margin-top: 100px;
  margin-left: 25vw;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"]:checked ~ .checkmark {
  background-color: red;
}

.radios label {
  position: relative;
  margin: 0 20px;
  text-align: center;
  padding-left: 10px;
}

.radios label:last-child {
  padding-left: 5px;
}

.checkmark {
  background-color: white;
  border: #1B404C solid 3px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 0px;
  border-radius: 50%;
  bottom: 20px;
}

@media(max-width: 800px) {
  .title h1 {
    font-size: 24px;
  }
  hr {
    width: 30px;
  }
  p {
    font-size: 16px;
  }
  .main {
    margin: 175px 40px 0px 40px;
  }
  .questionNumber h2 {
      font-size: 100px;
  }

  .questionNumber h3 {
    font-size: 75px;
    right: 20px;
  }
}
