@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html, body {
  background-color: #101A26;
  padding: 0;
  margin: 0;
  min-height: 100%;
}

h1, a {
  color: white;
  text-align: center;
  text-decoration: none;
}

p, h1, a {
    font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}

input:focus, button:focus {
  outline: none;
}

input[type=text], input[type=submit], input[type=password], button {
  width: 70%;
  height: 35px;
  border: none;
  margin: 5px;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
}

input[type=submit], button {
  background-color: #829FD9;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-appearance: none;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

tr:first-of-type {
  background-color: #5CD1FF;
}

td, th {
  text-align: left;
  padding: 8px;
  color: white;
  border: #829FD9 1px solid;
  font-weight: 400;
}

.back {
  left: 25px;
  top: 25px;
  position: absolute;
}

.list_of_voters, .idea, .start_vote {
  width: 70%;
  text-align: center;
  margin: auto;
}

.start_vote {
  margin-top: 125px;
}

.idea {
  color: white;
  margin: 75px auto;
  font-size: 22px;
}

.error-box {
  width: 70%;
  background-color: white;
  border-bottom: #C4162A 2px solid;
  padding: 8px 0;
  margin: 20px auto;
  padding-bottom: 12px;
}

.error-box p {
  margin: 0;
  font-size: 12px;
}

.error-box img {
  float: left;
  padding-left: 5px;
}

.login, .start_vote {
  text-align: center;
  margin: auto;
  width: 50%;
  max-width: 800px;
  padding-top: 150px;
}

@media only screen and (max-width: 800px) {
  .login {
    width: 90%;
  }
  h1 {
    font-size: 18px;
  }
  .idea {
    margin: auto 0;
    width: 100%;
  }
  p {
    font-size: 16px;
  }
  .back {
    left: 15px;
    top: 15px;
  }
  .name {
    margin-top: 50px;
  }
}
